*{
    margin: 0px;
    box-sizing: border-box;
}

.linea1{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: lightgrey;
    color: black;
    padding: 5px;
    border: 1px solid #4e4e4e;
}

img{
    display: flex;
    margin: auto;
    width: 40%;
    margin-top: 10%;
}

input, .buscar{
    border-radius: 50px;
    padding: 10px  20px;
    border: 1px solid grey;
    margin-top: 20px;
    
    
}

input{
    width: 100%;
}

.divbuscar{
    width: 40%;
    margin: auto;
    display: flex;
}


.buscar{

    margin-left: 5%;
}


.botones{
    margin: auto;
    margin-top: 10px;
    border: 0px solid grey;
    width: 50%;
    display: flex;
}

.botones button{
    width: 30%;
    align-content: space-between;
    margin-left: 10%;
}

.boton{
    
}

.linea3{
    clear: both;
    float: right;
}

a{
     text-decoration: none;
}

.super{
    clear: both;
    float: right;
}

.espa{
    position: fixed;
    bottom: 30px;
    width: 100%;
    background-color: lightgrey;
    color: black;
    padding: 5px;
    border: 1px solid #4e4e4e;
}
