*{
    margin: 0px;
    box-sizing: border-box;
}

h1{
    background-color: cornflowerblue;
    color: black;
    padding: 10px;
    text-align: center;
}

h2{
    background-color: #adcaff;
    color: black;
    padding: 10px;
    text-align: center;
}

table{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auTo;
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 2px solid black;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pri{
    background-color: skyblue;
    border: 2px solid black;
    padding: 10px
}

.seg{
    background-color: #d0f1ff;
    border: 2px solid black;
    padding: 10px;
}

.tri{
    background-color: #d0f1ff;
    border: 2px solid black;
    padding-left: 50px;
}

.cua{
    background-color: red;
}

.qui{
    background-color: skyblue;
}

.sext{
    background-color: lawngreen
}

.sep{
    background-color: #ff48ff;
}

.oct{
    background-color: yellow;
}