*{
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-color: lightgray;
}

h1{
    text-align: center;
}

.pri{
    background-color: #ffd079;
    clear: both;
    color: black;
    margin: 10px;
    padding-bottom: 30px;
    border:  1px solid black;
    width: 90%;
    margin: auto;
}

.seg{
    background-color: #ffff89;
    color: black;
    margin: 20px;
    padding-right: 30px;
    padding-bottom: 60px;
    border:  2px solid #a6a600;
    width: 40%;
    float: left;
}

.ter{
    background-color: #cdf0ff;
    color: black;
    margin: 20px;
    padding-left: 30px;
    padding-bottom: 80px;
    border:  2px solid #a2c6d6;
    width: 40%;
    float: right;
}

.cua{
    background-color: palegreen;
    color: black;
    margin: 20px;
    padding: 10px;
    padding-bottom: 80px;
    border:  2px solid #005200;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 40%;
}

.qui{
    background-color: #ffdeff;
    color: black;
    margin: 20px;
    padding-right: 30px;
    padding-bottom: 60px;
    border:  2px solid #cc8bcc;
    width: 40%;
    float: left;
}

.sex{
    background-color: #ee9fb9;
    color: black;
    margin: 20px;
    padding-left: 30px;
    padding-bottom: 60px;
    border:  2px solid #684651;
    width: 40%;
    float: right;
}