*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(logos/3.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    background-attachment: fixed;
}

img{
    width: 20px; 
}

.linea{
    padding: 2px;
    border-bottom: 2px solid #262626;
}

.text{
    border-bottom: 2px solid #262626;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}

.enlaces{
    border-bottom: 2px solid #262626; 
}

.mflex{
    display: flex;
}

.mflex a{
    color: white;
    padding: 0.5em 0;
    text-decoration: none;
    flex: 1;
    text-align: center;
    font-family: fantasy;
	font-size: 20px;
	height: 100px;
	transition: all 1s ease;
}

.mflex a:hover{
	background-color: #500000;
}

.mio{
  width: 75%;
}

.ini{
    width: 250px;
    border-radius: 30% 40% 70% 30% / 30% 30% 70% 70%;
    margin: 0 auto;
    transition: all 2s;
    
}

.ini:hover{
    border-radius: 44% 56% 87% 13% / 68% 86% 14% 32% ;
}

.pri{
    display: flex;
    background-color: white;
    margin: 30px;
    padding: 4%;
    border:  5px solid #581800;
    border-radius: auto; 
}

.bri{
    text-align: justify;
    padding-left: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.mas{
	float: right;
}

.seg{
    display: flex;
    background-color: white;
    margin: 30px;
    padding: 4%;
    border:  5px solid #040064;
    border-radius: auto; 
}

.tri{
    text-align: justify;
    padding-right: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.ina p{
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0; 
}

footer{
	padding-top: 10px;
    width: 100%;
    color: white;
	background-image: url(./logos/footer-background-mountain.jpg);
	background-size: 100%;
	background-position: center bottom;
	background-repeat: no-repeat;
}


footer h3{
	color: white; 
	padding-top: 10px; 
	margin: 0;
}
footer p{
	color: gray; 
	padding-bottom: 30px;
}

.columnas h2{
	font-size: 25px;
	text-align: center;
	font-family: fantasy;
}

.columnas h3{
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	font-family: fantasy;
}
.columnas p{
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	padding-bottom: 30px;
	font-family: fantasy;
}

.likes{
	padding-bottom: 50px;
	text-align: center;
	
}

.dentro{
	border: solid 1px white;
	padding: 20px 40px;
	text-decoration: none;
	margin-right: 10px;
}

.color{
	border-color: white;
	color: white;
}

.color:hover{
	background-color: white;
	border-color: black;
	color: black;
}

