/*
Hoja de Estilo Briayan.CSS
Briayan Moposita
Enero de 2021
*/
body{
    background-image: url(V.2/can.png);
     background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

img{
    width: 500px;
}

img{
    transition: all 1.5s ease;
    
}

img:hover{
    transform: scale(1.2);
}

h1{
    background-color: white;
    color: black;
    padding: 25px;
    border: 3px solid white;
    text-align: center;
    border-radius: 25px;
}

h3{
    text-align: center;
    
}

header{
    text-align: center;
    color: white;

}

a{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px;
    border: 3px solid white;
    text-align: center;
    border-radius: 25px;  
}

nav{
    padding-top: 20px;
    padding-bottom: 25%;
}

a{
    transition: all 1.5s ease;
}

a:hover{
    transform: scale(1.2);
}