/*
Hoja de Estilo Briayan.CSS
Briayan Moposita
Enero de 2021
*/

*{
    margin: 0px;
    box-sizing: border-box;
}

h1{
    color: #5b68d0;
    text-align: center;
    width: 75%;
    margin: auto;
    padding: 3%;
    border:  8px dashed #5b68d0;
    border-radius: 20px;
    font-family: 'Righteous', cursive
} 

.pri{
    width: 50px;
}

.seg{
    width: 110px;
}

.ter{
    width: 150px;
}

.cua{
    width: 100px;
}

.qui{
    width: 110px;
}

.sext{
    width: 100px;
}

img{
    padding: 10px
}
table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #4d59bd;
    border-collapse: collapse;
}

td{
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    text-align: center;
}

th{
    text-align: right;
}

.centro{
    text-align: center;
}

.color{
    background-color: #eeeeee;
}