/*
Hoja de Estilo Briayan.CSS
Briayan Moposita
Enero de 2021
*/

*{
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-color: seagreen;
    
}

h1{
    color: white;
}

.pri{
    background-color: white;
    clear: both;
    color: black;
    margin: 10px;
    padding: 10px;
    border:  7px solid black;
    border-radius: 15px;
    width: 480px;
    margin: auto;
}

.seg{
    background-color: indianred;
    color: white;
    margin: 10px;
    padding: 10px;
    border:  11px solid darkred;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 49%;
    float: left;
}

.ter{
    background-color: sandybrown;
    color: white;
    margin: 10px;
    padding: 10px;
    border:  11px solid saddlebrown;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 49%;
    float: right;
    
}

.cua{
    background-color: darkblue;
    clear: both;
    color: white;
    margin: 10px;
    padding: 10px;
    border:  4px dashed royalblue;
    width: 49%;
    margin: auto;
}